
@model Electricity.BusinessLogic.DTO_s.ElectricityMeterDto



<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="my-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Create" asp-controller="ElectricalMeter">Add electrical meters</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete </li>
    </ol>
</nav>

<h1>Are you sure You want to delete<br /> an Electrical Meter ?</h1>
<form class="row g-3 my-4" method="post" asp-controller="ElectricalMeter">
    <div class="col-md-4">

        <label asp-for="Name" class="form-label">device name</label>
        <select asp-for="Name" class="form-select">

            <option selected>@Model.Name</option>

        </select>
    </div>

    <div class="col-md-4">
        <label asp-for="Power" class="form-label">power</label>
        <input type="number" asp-for="Power" class="form-control" value=@Model.Power>
    </div>

    <div class="col-md-4">
        <label asp-for="Coefficient" class="form-label">coefficient</label>
        <input asp-for="Coefficient" type="number" class="form-control" value=@Model.Coefficient>
    </div>

    <div class="col-md-4">
        <label asp-for="NumberOfDevice" class="form-label">quantity</label>
        <input asp-for="NumberOfDevice" type="number" class="form-control" value=@Model.NumberOfDevice>
    </div>

    <div class="col-md-4">
        <label asp-for="Time" class="form-label">time</label>
        <input asp-for="Time" type="number" class="form-control" value=@Model.Time>
    </div>

    <div class="col-md-4">
        <label asp-for="RoomID" class="form-label">room</label>
        <select asp-for="RoomID" class="form-select">

            <option selected>@Model.Room.NumberOfRoom + @Model.Room.Building.Name + @Model.Room.Building.City</option>


        </select>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-danger"> Delete </button>
    </div>
</form>
