<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Electricity.Presentation</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
   
    <link rel="stylesheet" href="~/Electricity.Presentation.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Moncss.css"  />

    
    
</head>
<body>
   
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Electricity Distribution</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active"  asp-controller="Home" asp-action="Index">
                            Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="ElectricalEquipement" asp-action="Index">Devices</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" asp-controller="Building" asp-action="Index">Buildings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Renter" asp-action="Index">Renters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Room" asp-action="Index">Rooms</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="RoomElectricalEquipement" asp-action="Index">Room Equipement</a>
                    </li>

                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#"  data-bs-toggle="dropdown" >
                            Counters
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Schedule" asp-action="Index" >Schedule</a></li>
                            <li><a class="nav-link" asp-controller="ElectricityMeter" asp-action="Index">Electricity meter</a></li>
                            <li><a class="nav-link" asp-controller="WaterMeter" asp-action="Index">Water meter</a></li>
                            <li><a class="nav-link" asp-controller="HeatMeter" asp-action="Index">Heat meter</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                        </ul>

                    </li>
              
                </ul>

                <div class="btn-group" role="group" >
                    <a  asp-controller="User" asp-action="Login" class=" btn btn-secondary mx-2">Login</a>
                  
                    <a  asp-controller="User" asp-action="Register" class="btn btn-secondary">Sign in</a>
                </div>

            </div>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   

    <script src="~/lib/jquery/dist/jquery.min.js">
        </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
