@model Electricity.BusinessLogic.Requests.RenterRequest

<h2>Create new Renter</h2>

<form class="row g-3 my-4" method="post" asp-controller="Renter">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control">
    </div>

    <div>
        <button type="submit">Add</button>
    </div>
</form>
