@using Electricity.BusinessLogic.DTO_s
@model Electricity.BusinessLogic.Requests.ScheduleRequest

<h2 class="mt-3">New Schedule</h2>

<form class="row g-3 my-4" method="post" asp-controller="Schedule">

   

    

    <div>
        <button class="btn btn-primary" type="submit">Add</button>
    </div>
</form>
