@using Electricity.BusinessLogic.DTO_s;
@model Electricity.BusinessLogic.Requests.RoomRequest;



<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="my-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Room">Rooms</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add new room</li>
</ol>
</nav>

<form class="row g-3 my-4" method="post" asp-controller="Room">
    <div class="col-md-6">
        <label asp-for="BuildingId" class="form-label">Building</label>
        <select asp-for="BuildingId"  class="form-select" >
            <option selected>Choose building</option> 
            @foreach (var building in (List<BuildingDto>)ViewData["building"])
            {

                   <option value=@building.Id>@building.Name</option>

            }
        </select>
    </div>

    <div class="col-md-6">
        <label asp-for="NumberOfRoom" class="form-label">Room Number</label>
        <input type="number" asp-for="NumberOfRoom" class="form-control" id="">
    </div>

    <div class="col-md-6">
        <label asp-for="RenterId" class="form-label">Renter</label>
        <select asp-for="RenterId" class="form-select">
            <option selected >Choose renter</option>
            
            @foreach (var renter in (List<RenterDto>)ViewData["renter"])
            {

                   <option value=@renter.Id>@renter.Name</option>

            }
        </select>
    </div>


    <div class="col-12">
        <button type="submit" class="btn btn-primary"> add room </button>
    </div>
</form>  