@using Electricity.BusinessLogic.DTO_s
@model Electricity.BusinessLogic.Requests.RoomRequest

<h2 >Create new room </h2>

<form class="row g-3 mt-4" method="post" asp-controller="Room">

    <div class="row">
        <div class="mb-2 col-4">
            <label asp-for="BuildingId" class="form-label">Building</label>

            <select asp-for="BuildingId" class="form-select">

                @foreach (var item in (List<BuildingDto>)ViewData["buildings"])
                {
                    <option value=@item.Id>
                        <span>@item.Name</span>
                        <span>@item.City</span>
                    </option>

                }
            </select>
        </div>

        <div class="mb-2 col-4">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control">
        </div>
    </div>
   

   <div class="row">
      
        <div class="mb-2 col-4">
            <label asp-for="ScheduleId" class="form-label">Schedule</label>

            <select asp-for="ScheduleId" class="form-select">

                @foreach (var item in (List<ScheduleDto>)ViewData["schedules"])
                {
                    <option value=@item.Id>
                        <span>@item.Name</span>
                    </option>

                }
            </select>
        </div>

        <div class=" mb-2 col-4">
            <label asp-for="RoomArea" class="form-label">Area </label>
            <input asp-for="RoomArea" type="number" class="form-control">
        </div>
   </div>

   

   <div class="row">

        <div class=" mb-2 col-4">
            <select asp-for="RenterId" class="form-select">

                @foreach (var item in (List<RenterDto>)ViewData["renters"])
                {
                    <option value=@item.Id>@item.Name</option>

                }
            </select>
        </div>

        <div class=" mb- 2 col-4">
            <label asp-for="TotalWorkers" class="form-label"> Workers</label>
            <input asp-for="TotalWorkers" type="text" class="form-control">
        </div>
   </div>

    <div class="row">

        <div class=" mb- 2 col-4">
            <label asp-for="ArrivalDate" class="form-label"> Arrival Date</label>
            <input asp-for="ArrivalDate" type="text" class="form-control">
        </div>

        <div class=" mb-2 col-4">
            <label asp-for="LeavingDate" class="form-label">Leaving Date </label>
            <input asp-for="LeavingDate" type="number" class="form-control">
        </div>
   </div>



    <div>
        <button class="btn btn-primary">add</button>
    </div>
</form>
