@model IEnumerable<Electricity.BusinessLogic.DTO_s.RoomDto>

<table class="table my-4">
    <caption>list of Renters </caption>
    <thead class="table-dark">

        <tr>
            <th scope="col">Room Number</th>
            <th scope="col">Renter</th>
            <th scope="col">Building</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {

            <tr>
               <td>@room.NumberOfRoom</td>
               <td>@room.Renter.Name</td>
               <td>@room.Building.Name</td>
                <td><a class="btn btn-secondary" href="Room/Edit/@room.Id">edit</a><a class="btn btn-danger mx-2" href=""><i class="bi bi-trash3-fill"></i>delete</a></td>
            </tr>

        }
    </tbody>
    <a btn btn-primary-lg asp-action="Create" asp-controller="Room">create</a>
</table>