
@using Electricity.BusinessLogic.DTO_s;
@using Electricity.BusinessLogic.Requests
@model Electricity.BusinessLogic.DTO_s.BuildingDto


<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Building" asp-action="Index">List of Building</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Building</li>
    </ol>
</nav>


<form class="row g-3 my-4" method="post" asp-controller="Building">

    <div class="row">

        <div class="mb-3 col-6">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control">
        </div>

        <div class="mb-3 col-6">
            <label asp-for="Address" class="form-label">Address</label>
            <input asp-for="Address" type="text" class="form-control">
        </div>
    </div>

   <div class="row">
        <div class="mb-3 col-6">
            <label asp-for="City" class="form-label">City</label>
            <input asp-for="City" type="text" class="form-control">
        </div>





        <div class="col-6">
            <label asp-for="BuildingArea" class="form-label"> Area</label>
            <input asp-for="BuildingArea" type="text" value=@Model.BuildingArea class="form-control">
        </div>
   </div>

   
    <div>
        <button class="btn btn-primary" type="submit" > Save </button>
    </div>
</form>
