@using Electricity.BusinessLogic.DTO_s;
@using Electricity.BusinessLogic.Requests
@model Electricity.BusinessLogic.DTO_s.ElectricalEquipementDto


<h2 class="mt-3">  Edit a Electrical Equipement </h2>



<form class="row g-3 my-4" method="post" asp-controller="ElectricalEquipement">
    <div class="mb-3 col-4">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name"  value=@Model.Name type="text" class="form-control">
    </div>

    <div class="mb-3 col-4">
        <label asp-for="Power" class="form-label">Power</label>
        <input asp-for="Power" value=@Model.Power type="text" class="form-control">
    </div>

    <div class="mb-3 col-4">
        <label asp-for="Coefficient" class="form-label">Coeffficient</label>
        <input asp-for="Coefficient"  value=@Model.Coefficient type="text" class="form-control">
    </div>

   
    <div>
        <button class="btn btn-primary" type="submit" class="btn btn-primary"> Save </button>
    </div>
</form>
