

<div class="card container mt-4 d-flex flex-column align-items-center" style=" width: 30rem;">
   
    <div class="card-body">

        <h2>Please login</h2>

        <form class="mt-4 " method="post" asp-controller="User">

            <div class="row mb-2">
                <div class="col">
                    <label class="form-label">Username</label>
                    <input class="form-control" type="text" placeholder=" Username" />
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label class="form-label">Password</label>
                    <input class="form-control" type="password" placeholder="Password" />
                </div>
            </div>


            <div class="mt-3">
                <button class=" btn btn-custom btn-primary " type="submit">Login</button>
            </div>


        </form>
       
    </div>
</div>
