<form method="post" asp-controller="User">
    <div class="row col-4">
        <label class="form-label" ></label>
        <input class="form-control" type="text" placeholder="Enter your username" ></input>
    </div>
    <div class="row col-4">
        <label class="form-label" >Password</label>
        <input class="form-control" type="text" placeholder="Enter your password"></input>
    </div>
    <div class="row col-4">
        <label class="form-label" ></label>
        <input class="form-control" type="text" placeholder="Enter your password"></input>
    </div>
    <button class="btn btn-primary mt-4" type="submit">Register</button>
</form>