@model IEnumerable<Electricity.BusinessLogic.DTO_s.HeatMeterDto>

<div class="row">
    <div class="col-lg-6">
        <h2>Heat Meter</h2>
    </div>


</div>

<table class="table my-4">

    <thead class="table-dark">

        <tr>
            <th scope="col">Name</th>
            <th scope="col">Factory Number</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.FactoryNumber</td>
                <td>
                    <a class="btn btn-secondary" href="ElectricityMeter/Edit/@item.Id">edit</a>
                    <a class="btn btn-danger mx-2" href=""><i class="bi bi-trash3-fill"></i>delete</a>
                </td>
            </tr>

        }
    </tbody>
    <a btn btn-primary-lg asp-action="Create" asp-controller="HeatMeter">create</a>
</table>