@using Electricity.BusinessLogic.DTO_s
@model Electricity.BusinessLogic.Requests.ResourceRequest

<h2 class="mt-3">Create new counter</h2>



<form class="row g-3 my-4" method="post" asp-controller="Resource">
    <div class="row">
        <div class="mb-3 col-4">
            <label asp-for="Year" class="form-label">Year</label>
            <input asp-for="Year" type="text" class="form-control">
        </div>

        <div class="mb-3 col-4">
            <label asp-for="Month" class="form-label">Month</label>
            <input asp-for="Month" type="text" class="form-control">
        </div>
    </div>


    <div class="row">
        <div class="mb-3 col-4">
            <label asp-for="ResourceType" class="form-label">Resource type</label>
            <select asp-for="ResourceType" class="form-select">
        
                <option value="ElectroEnergya">
                     ElectroEnergya
                </option>
                <option value="HeatMeter (kcal)">
                    heatMeter (Kcal)
                </option>
                <option value="Kumbo meter(cube)">
                    KumboMeter (cube meter)
                </option>

                
            </select>
        </div>

        <div class="mb-3 col-4">
            <label asp-for="BuildingId" class="form-label"> Building </label>
            <select asp-for="BuildingId" class="form-select">

                @foreach (var item in (List<BuildingDto>)ViewData["buildings"])
                {
                    <option value=@item.Id>
                        <span>@item.Name</span>
                    </option>

                }
            </select>
        </div>

       
    </div>

    <div class="col-8">
        <label asp-for="Quantity" class="form-label">Quantity</label>
        <input asp-for="Quantity" type="number" class="form-control">
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
