
@model Electricity.BusinessLogic.Requests.ElectricityMeterRequest

<h2 class="mt-3">Create new Electricity meter</h2>
<form class="row g-3 my-4" method="post" asp-controller="ElectricityMeter">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="FactoryNumber" class="form-label">Factory Number</label>
        <input asp-for="FactoryNumber" type="text" class="form-control">
    </div>

    <div>
        <button type="submit">Add</button>
    </div>
</form>
